<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
      <h1>Home page</h1>
      <p>Get your prediction here</p>
      <p>Enter in the details of a made up person on the titanic</p>

      <form class="" action="{% url 'result' %}">
        {% csrf_token %}
        <input type="text" name="age">
        <input type="submit">
      </form>



      <a href="{% url 'result' %}">Go to result page</a>




      <!--
      <button type="button" name="button" onclick="myFunc()">Change color</button>
      <img src="{% static 'elephant.jpg' %}" alt="">
      <form class="" action="{% url 'result' %}">
        {% csrf_token %}
        <input type="text" name="user_input" >
        <input type="submit" name="" value="Click Me">
      </form>
      -->






      <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
